.images {
    // padding: 40px 0;
    width: 100%;
    display: flex;
    position: relative;

    .btn-left {
        height: 100%;
        width: 30px;
        background: black;
        position: absolute;
        left: 0;

        span {
            color: white;
            font-weight: bolder;
            font-size: 2rem;
            display: block;
            margin: auto 0;
        }
    }


    .btn-right {
        height: 100%;
        width: 30px;
        background: black;
        position: absolute;
        right: 0;

        span {
            color: white;
            font-weight: bolder;
            font-size: 2rem;
            display: block;
            margin: auto 0;
        }
    }


    .image {
        .image-title {
            font-size: 24px;
            padding-bottom: 10px;
            font-weight: bold;
        }
    }
}